%h1 Event Scheduler
- if user_signed_in?
  - @events.each do |event|
    = link_to simple_format(event.title), event_path(event.id)
  .home-menu
    = link_to 'Create a new event here', new_event_path(@event), class: 'btn btn-primary'
