body {
  margin: 0;
  padding: 0;
  text-align: center;
}

.event_body {
  border: 1px solid;
  bottom: 20px;
}

.menu {
  margin-top: 25px;
  font-size: 18px;
}

.home-menu {
  margin-top: 30px;
  font-size: 20px;
}

.btn-primary {
  margin-top: 10px;
  margin-bottom: 10px;
}

.align_fields {
  margin-left: 45%;
  width: 10%;
}

.form_fields {
  margin-bottom: 10px;
}

.col-md-14 {
  margin-bottom: 5px;
}

.flash-notice {
  margin-top: 10px;
  margin-left: 39%;
  color: red;
  width: 22%;
}
